# application
RPC_PORT=10000
API_PORT=11000
DEBUG_PORT=12000
API_ADDR=localhost:11000

# db
DSN='postgres://admindbuser:admindbpassword@localhost:5432/admindb?sslmode=disable' #overrides DB_{ADDR,NAME,USER,PASSWORD,PORT}
DB_ADDR=localhost:5432
DB_NAME=admindb
DB_USER=admindbuser
DB_PASSWORD=admindbpassword
DB_PORT=5432 # used in docker-compose

# relay
SENTRY_PEERING_HOST='peering.sentry.paralus.local:10001'
CORE_RELAY_CONNECTOR_HOST='*.core-connector.relay.paralus.local:10002'
CORE_RELAY_USER_HOST='*.user.relay.paralus.local:10002'
SENTRY_BOOTSTRAP_ADDR='console.paralus.dev:80'
BOOTSTRAP_KEK='paralus'
RELAY_IMAGE='paralusio/relay:v1.0.0-beta'

# audit
ES_END_POINT='http://127.0.0.1:9200'
ES_INDEX_PREFIX='auditlog-system'
RELAY_AUDITS_ES_INDEX_PREFIX='auditlog-relay'
RELAY_COMMANDS_ES_INDEX_PREFIX='auditlog-commands'

# cd relay
CORE_CD_RELAY_USER_HOST='*.user.cdrelay.paralus.local:10012'
CORE_CD_RELAY_CONNECTOR_HOST='*.core-connector.cdrelay.paralus.local:10012'

SCHEDULER_NAMESPACE='paralus-system'

# Kratos
KRATOS_ADDR='http://localhost:4434'   # admin
KRATOS_PUB_ADDR='http://localhost:4433'    # public
